<!DOCTYPE HTML>

<html>
	<head>
		<title>Priyanshu Sharma Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/style.css" />
	</head>
	<body class="is-preload">

				<!-- Contact -->
                <section class="submit-contact">
                    <div class="container">

                        <header>
                            <h3>Contact Me</h3>
                        </header>

                    
                    <h3>{{message}}</h3>
                    <h1>Meanwhile...you can check out my Projects, and my Other content by clicking on the links below 😄</h1>
                    <!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://github.com/priyanshu0056/" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://www.linkedin.com/in/priyanshu-s-101362200/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://instagram.com/priyanshu.s56?igshid=ZDdkNTZiNTM= /" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href = "mailto: priyanshu.sha56@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
                    </div>
                </section>
<!-- Scripts -->
<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/jquery.scrolly.min.js"></script>
<script src="static/assets/js/jquery.scrollex.min.js"></script>
<script src="static/assets/js/browser.min.js"></script>
<script src="static/assets/js/breakpoints.min.js"></script>
<script src="static/assets/js/util.js"></script>
<script src="static/assets/js/main.js"></script>

</body>
</html>